
body{

   width:100%;

   height:500px;

   margin:0;

   padding:0;

}
a{

   text-decoration: none; 
}
/* 网易注册页面的最上面的部分 */
.header-loading{

    width:1000px;

    height:70px;
  
    margin:0 auto;

}
.header-loading .header-left{

    width:280px;

    height:100%;

    float:left;

}
.header-loading .header-left .header-01{

    width:136px;

    height:100%;

}
.header-loading .header-left .header-01 img{

    width:136px;

    height:52px;
   
    margin:2px 0px 0px 50px;

}
.header-loading .header-left .header-left-01{

    width:2px;

    height:25px;

    background-color:#aaa;

    margin:-32px 0px 0px 200px;

}
.header-loading .header-left .header-left-02{

    width:157px;

    height:28px;

    font-size:15px;

    text-align:center;

    line-height:28px;

    margin: -28px 0px 0px 195px;

    color:black;
}
.header-loading .header-right{

    float:right;

    width:550px;

    height:30px;

    top:33px;

    left:60px;

    position: relative;

}
.header-loading .header-right a{

    font-size:13px;

    color:#aaa;

    height:30px;

    text-decoration: none;

}
/* 网易注册页面的中间部分 */
.main-loading{

    width:100%;

    height:450px;

    background:url(../../images/image3.png) no-repeat;

    background-size: 100%;
}
.main-loading .main-inner{

    width:1000px;

    height:450px;

    margin:0 auto;

    position:relative;

}

.main-loading .main-inner .box{

    width:350px;

    height:380px;

    right:16px;

    top:35px;

    background-color:#fff;

    position: absolute;

    box-shadow: 1px 2px 5px rgb(255, 255, 255),0px 1px 5px rgb(204, 200, 200) ;

    z-index:2;

    overflow: hidden;

}
.main-loading .main-inner .box .box-top{

   width:350px;

   height:48px;

   text-align: center;

   font-size: 19px;
   
   line-height: 74px;
 
   font-weight:bold;

   color:rgb(213, 28, 41);

}

.main-loading .main-inner .box .box-top a:hover{

    color:blue;
    
    border-bottom:1px solid blue;
    
} 
.main-loading .main-inner .box .box-middle{

    position: relative;

    width: 450px;

    height:300px;

    overflow: hidden;

    border-radius: 4px;

    background: #fff;

}
.main-loading .main-inner .box .box-middle .address{

    width: 280px;

    height : 35px;

    font-size:16px;

    top:30px;

    left: 33px;

    color:rgb(146, 144, 144);

    background:url(../../images/账户.png) no-repeat 0% 50%;

    border:1px solid #aaa;

    position: relative;

    border-radius:7px;

} 
.main-loading .main-inner .box .box-middle .paragraph{

    font-size:10px;

    color:red;

    position: relative;

    left:5px;

    display: none;

}
.main-loading .main-inner .box .box-middle .address .table1{

    width: 200px;

    height : 30px;

    margin-left:35px;  

    border-radius : 1%;

    border:1px solid #fff;

    border-radius:7px;

    outline:none

}
.main-loading .main-inner .box .box-middle .address:hover,.main-loading .main-inner .box .box-middle .password:hover{

    border:1px solid rgb(213, 28, 41);
}

.main-loading .main-inner .box .box-middle .password{
   
    width: 200px;

    height : 35px;

    font-size:16px;

    top:40px;

    left: 33px;

    background:url(../../images/密码.png) no-repeat 0% 50%;

    color:rgb(146, 144, 144);

    border:1px solid #aaa;

    border-radius : 7px 0px 0px 7px;

    position: relative;
 
} 
.main-loading .main-inner .box .box-middle .password .get-code{

    width: 80px;

    height : 37px;

    border-radius : 0px 7px 7px 0px;

    border:1px solid #aaa;

    border-left:1px solid #fff;

    outline:none;

    position: relative;

    top:-35px;

    left:81px;

    float:right;

    background-color: #fff;

    font-size:10px;
}
.main-loading .main-inner .box .box-middle .freeload{

    width: 350px;

    height : 28px;

    position: absolute;

    top:187px;

}
.main-loading .main-inner .box .box-middle .password .table2{

    width: 163px;

    height : 30px;

    margin-left:35px;   

    border-radius : 4px;

    border:1px solid #fff;

    outline:none
}
.main-loading .main-inner .box .box-middle .load-01{

    width:250px;

    height:50px;

    font-size:17px;

    font-weight: bold;

    position: relative;

    line-height:48px;

    text-align:center;

    bottom:-80px;

    left:50px;

    color:#fff;

    border-radius : 4px;

    background-color:rgb(213, 28, 41);

    border:1px solid rgb(213, 28, 41);

}
.main-loading .main-inner .box .box-middle .load-01:hover{

    box-shadow: 1px 2px 5px rgb(213, 28, 41),-2px -2px 5px rgb(213, 28, 41);

}

.main-loading .main-inner .main-bottom{

    width:200px;

    height:60px;

    bottom:10px;

    right:10px;

    text-align:center;

    position: absolute;

    line-height: 60px;

    float:left;

}
.main-loading .main-inner .main-bottom .main-bottom-01 {

    width:30px;

    height:30px;

    text-decoration: none;
    
    color: rgb(179, 182, 179);

    background-color:rgb(114, 112, 112);

    border-radius: 50%;
 
    font-size: 20px;
 
    z-index: 2;

    position: relative;

    top:40px;

    left:130px;

    line-height:28px;

    text-align:center;
   
}
.main-loading .main-inner .main-bottom .main-bottom-02{

    width:30px;

    height:30px;

    text-decoration: none;

    color: rgb(179, 182, 179);
 
    border-radius: 50%;

    font-size: 20px;

    z-index: 2;

    background-color:rgb(114, 112, 112);

    position: relative;

    top:10px;

    left:170px;

    line-height:28px;
     
    text-align:center;

}
.main-loading .main-inner .main-bottom .main-bottom-01 a,.main-loading .main-inner .main-bottom .main-bottom-02 a{

    color:#fff;

    font-size:27px;
}
.main-loading .main-inner .box .box-middle .freeload .register{

    color:rgb(213, 28, 41);

    font-size:14px;

    left:50px;

    top:-25px;

    text-decoration: none;

    position: relative;

}
.main-loading .main-inner .box .box-middle .freeload .forget{

    color:#aaa;

    font-size:14px;

    left:170px;

    top:-25px;

    text-decoration: none;

    position: relative;

}
/* 网易注册页面的最下面部分 */
.footer-loading{

    width:1000px;

    height:50px;
   
    margin:0 auto;

    position: relative;

    top:80px;

}
.footer-loading.footer .footer-right-top{

    float:left;

    height:24px;

    position: relative;

    left:300px;
}
.footer-loading .footer-right-top a{

    color:#aaa;

    font-size:12px;

    padding-left:10px;

    text-decoration: none;

}
.footer-loading .footer-right-bottom{

    float:left;

    width:1000px;

    height:24px;

    font-size:12px;
    
}
.footer-loading .footer-right-bottom .footer-right-bottom-last{

    color:#aaa;
    
}
.footer-loading .footer-right-bottom-01 {

    margin-left:190px;

}
.footer-loading .footer-right-bottom a{

    padding-left:8px;

    color:#aaa;

    font-size:12px;

    text-decoration: none;
    
}