.cart {
    padding-bottom: 40px;
    background-color: #F4F6FA;
}
.cart .cart-header {
    height: 50px;
    margin-top: 10px;
    font-size: 12px;
    background-color: #fff;
    color: rgba(51,51,51,.4);
    border-bottom: 1px solid #EFEFEF;
}
.cart .cart-col-select {
    width: 550px;
    text-align: left;
    padding-left: 24px;
}
.cart .mz-checkbox {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
}
.cart .cart-select-all {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    line-height: 0;
}
.cart .cart-col-price {
    width: 220px;
    text-align: center;
}
.cart .cart-col-number {
    width: 200px;
    text-align: center;
}
.cart .cart-col-total {
    width: 160px;
    text-align: center;
}
.cart .cart-col-ctrl {
    width: 110px;
    text-align: right;
    color: #00c3f5;
    padding-right: 48px;
    cursor: pointer;
}
.cart-merchant-list {
    margin-bottom: 10px;
}
.cart-merchant {
    background-color: #fff;
    margin-bottom: 10px;
}
.cart-merchant .cart-merchant-body {
    border-bottom: 1px solid #EFEFEF;
}
.cart-product {
    height: 150px;
    border-top: 1px solid #EFEFEF;
}
.cart .cart-col-select {
    width: 550px;
    text-align: left;
    padding-left: 24px;
}
.cart-product .cart-col-select .cart-product-link {
    margin-left: 19px;
    display: inline-block;
    vertical-align: middle;
    color: #262626;
}
.cart-product .cart-product-info {
    width: 330px;
}
.cart-product .cart-product-info p {
    font-size: 14px;
    width: 100%;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-product .cart-product-info .cart-product-desc, .cart-product .cart-product-info .cart-product-package-name {
    color: #8C8C8C;
    margin-top: 4px;
}
.cart-product .cart-product-info .cart-product-item-name {
    font-size: 16px;
    color: #262626;
}
.cart .cart-col-price {
    width: 220px;
    text-align: center;
}
.cart .cart-col-number {
    width: 200px;
    text-align: center;
}
.cart-col-number .mod-control {
    position: relative;
    height: 40px;
    width: 122px;
    overflow: hidden;
    float: left;
    margin-left: 30px;
    margin-bottom: -15px;
}
.cart-col-number .mod-control a {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #e7e7e7;
    color: #000;
    background: #f7f7f7;
}
.cart-col-number .mod-control .vm-minus {
    right: 90px;
}
.cart-col-number .mod-control input {
    position: absolute;
    top: 0;
    right: 30px;
    width: 60px;
    height: 38px;
    padding: 0;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #595959;
    border: 1px solid #dedede;
}
.cart-product .cart-product-price.total {
    color: #E02B41;
    font-size: 16px;
    opacity: 1;
}